<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Home Page</h1>
  
  <h2>Personal Details</h2>
<% if @user %>
  <p>First Name: <%= @user.first_name %></p>
  <p>Last Name: <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Phone Number: <%= @user.phone_number %></p>
<% else %>
  <p>No user logged in</p>
<% end %>

</body>
</html>
