<!-- Google Maps Link -->
<a href="<%= @house.google_maps %>">View on Google Maps</a>

<!-- WhatsApp Link -->
<a href="https://wa.me/<%= @house.contact_number %>">Contact Us on WhatsApp</a>
<embed src="/agreements/user_agreement.pdf" width="100%" height="600px" />
<%= link_to 'Download User Agreement', '/agreements/user_agreement.txt' %>


